body{
    background-image: url("images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 98%);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: center;
}
.card-landingpage__container{
    width: 430px;
    font-family: "Red Hat Display";
    background: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}


h1{
    box-align: center;
    font-weight: bolder;
    color:darkblue: hsl(223, 47%, 23%);
}

p{
    color: hsl(224, 23%, 55%);
}

.mesage-next-purchase__paragraph{
    padding-left:50px;
    padding-right: 50px;
}

.header-image-landing-page{
    margin-left:-10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.price-tag__box {
    background-color: hsl(225, 100%, 98%);
    border-radius: 6px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
}

.proceed-payment__button{
    display:block;
    background-color: hsl(245, 75%, 52%);
    color: white;
    margin-top:10px;
    margin-bottom:20px;
    width: 280px;
    height: 50px;
    border-radius: 12px;
    font-weight: bold;
    font-family: "Red Hat Display";
    border:0px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.proceed-payment__button--lightblue:hover{
    cursor:pointer;
    background-color:hsl(224, 23%, 55%);
}

.plan-title__text{
    display:inline-block;
}

.change-order-action__acron{
    color: hsl(225, 100%, 98%);
    font-weight: bold;
}

.cancel-order__action{
    color: hsl(224, 23%, 55%);
    padding-top: 30px;
    font-weight: bold;
    font-size: 13px;
}

.cancel-order__action--lightblue:hover{
    cursor:pointer;
    color:hsl(223, 47%, 23%);
}

.music-icon-plan__box{
    padding:10px;
    
}

.price-plan__tag{
    border-radius: 15px;
}

.plan-title__text{
    display:block;
}

.modify-plan__action{
    font-weight: bold;
    color:hsl(245, 75%, 52%);
    font-size: 13px;
}

.modify-plan__action-lightblue:hover{
    color:hsl(224, 23%, 55%);
    cursor:prointer;
}

.music-icon, .modify-plan__action, .price{
    display:inline-block;
}

.plan-title__text, .price-plan__tag{
    display:block;
}